.card_page {
  margin: -5rem 0 0 0;
}

.card_body {
  display: flex;
  flex-wrap: wrap;
}

.card_column {
  width: calc((100% - 2 * 1.875rem) / 3);
  background: #FFFFFF;
  box-shadow: 0 0.8125rem 1.1875rem rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 1;
  &:not(:first-child) {
    margin-left: 1.875rem;
  }
  &:nth-child(n + 4) {
    margin-top: 1.25rem;
  }

  &:nth-child(3n + 1) {
    margin-left: 0;
  }

  @media (max-width: 62rem) {
      width: calc((100% - 1 * 1.875rem) / 2 );
      &:nth-child(2n + 1) {
        margin-left: 0;
      }
    &:nth-child(n + 3) {
      margin-top: 1.25rem;
    }

    &:nth-child(4n) {
      margin-left: 1.875rem;
    }

    &:nth-last-child(1):nth-child(odd) {
      width: 100%;
    }
  }
  @media (max-width: 48rem) {
      width: 100%;

    &:nth-child(n) {
      margin-left: 0;
    }

   &:not(:first-child) {
      margin-top: 1.25rem;
    }
  }
}


.last_card {
  background: #0D5C63;
  color: white;
}

.card_item {
  padding:2.1875rem;
}

.card_icon {
  height: 3rem;
  width: 3rem;
}

.card_icon img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card_title {
  font-weight: 700;
  font-size:1.5rem;
  line-height: 133%;
}

.card_text {
  font-weight: 500;
  font-size:0.875rem;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: #737373;
}

.last_card .card_text {
  color: white;
}
