.button{
  color:black;
  border: none;
  padding: 0.625rem 1.562rem;
  cursor: pointer;
  border-radius: 0.25rem;
  min-width: 48px;
  min-height: 40px;
  @media (max-width: 768px) {
    width: 100%;
    margin-top: 20px;
  }
  }

